BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false

BreakBeforeBraces: Allman

PointerAlignment: Left

SpacesInParantheses: false
SpaceBeforeRarens: ControlStatements

SortIncludes: true

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: false